# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cursos_catalog
DB_USER=cursos_user
DB_PASSWORD=cursos_pass

# Configurações da Aplicação
# Perfis disponíveis: local, dev, test, prod
SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080

# Configurações do Flyway
FLYWAY_ENABLED=true
